<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>股票行情：英大证券(000045)</title>
    <link href="../_assets/css/jquery.mobile-1.4.5.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../_assets/css/themes/default/jquery.mobile-1.4.5.min.css" type="text/css">
    <link rel="stylesheet" href="../_assets/css/news_yingdazhengquan.css" type="text/css"/>
    <script src="../_assets/js/jquery.js" type="text/javascript"></script>
    <script src="../_assets/js/jquery.mobile-1.4.5.js" type="text/javascript"></script>
    <script id="popup-arrow-script">

        $.mobile.document.on("click", "#open-popupArrow", function (evt) {
            $("#popupArrow").popup("open", {x: evt.pageX, y: evt.pageY});
            evt.preventDefault();
        });

    </script>
    <script type="text/javascript">
        $(document).on("click", ".show-page-loading-msg", function () {
            var $this = $(this),
                    theme = $this.jqmData("theme") || $.mobile.loader.prototype.options.theme,
                    msgText = $this.jqmData("msgtext") || $.mobile.loader.prototype.options.text,
                    textVisible = $this.jqmData("textvisible") || $.mobile.loader.prototype.options.textVisible,
                    textonly = !!$this.jqmData("textonly");
            html = $this.jqmData("html") || "";
            $.mobile.loading("show", {
                text: msgText,
                textVisible: textVisible,
                theme: theme,
                textonly: textonly,
                html: html
            });
        })
                .on("click", ".hide-page-loading-msg", function () {
                    $.mobile.loading("hide");
                });
    </script>
    <script type="application/javascript">

        $(document).on("pageinit", function () {
            //alert("触发 pageinit 事件 - 页面已初始化，DOM 已加载，jQuery Mobile 已完成页面增强。")
            hideLoader();
            setTimeout('hideLoader()', 1000);
        });
        $(document).on("pagebeforecreate", function () {
            //alert("触发 pagebeforecreate 事件 - 页面即将初始化。jQuery Mobile 仍未开始增强页面。");
            //showLoader();
            setTimeout('showLoader()', 500);
        });
        $(document).on("pagecreate", function () {
            // alert("触发 pagecreate 事件 - 已创建页面，但增强未完成。");
        });

        //setTimeout('showLoader()',500);
        function showLoader() {
            var $this = $(this),
                    theme = $this.jqmData("theme") || $.mobile.loader.prototype.options.theme,
                    msgText = $this.jqmData("msgtext") || $.mobile.loader.prototype.options.text,
                    textVisible = $this.jqmData("textvisible") || $.mobile.loader.prototype.options.textVisible,
                    textonly = !!$this.jqmData("textonly");
            html = $this.jqmData("html") || "";
            $.mobile.loading("show", {
                text: msgText,
                textVisible: textVisible,
                theme: theme,
                textonly: textonly,
                html: html
            });
        }

        function hideLoader() {
            $.mobile.loading("hide");
        }
        window.onload = function () {
//            hideLoader();
            // $.mobile.loading("hide");
            // setTimeout('hideLoader()',100);
        }
    </script>
    <script type="text/javascript">
        function showLoader() {
            var $this = $(this),
                    theme = $this.jqmData("theme") || $.mobile.loader.prototype.options.theme,
                    msgText = $this.jqmData("msgtext") || $.mobile.loader.prototype.options.text,
                    textVisible = $this.jqmData("textvisible") || $.mobile.loader.prototype.options.textVisible,
                    textonly = !!$this.jqmData("textonly");
            html = $this.jqmData("html") || "";
            $.mobile.loading("show", {
                text: msgText,
                textVisible: textVisible,
                theme: theme,
                textonly: textonly,
                html: html
            });
        }

        function hideLoader() {
            $.mobile.loading("hide");
        }
    </script>
</head>
<body>
<div data-role="page" id="e1">

    <header data-role="header"><h5>个股页面</h5></header>
    <div data-role="content" class="ui-content">

        <h3>英大证券，今日下跌-2.98</h3>
        <a href="#popupNested" data-rel="popup"
           class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-bars ui-btn-icon-left ui-btn-b"
           data-transition="pop">Choose a creature...</a>
        <div data-role="popup" id="popupNested" data-theme="b">
            <div data-role="collapsibleset" data-theme="b" data-content-theme="b" data-collapsed-icon="arrow-r"
                 data-expanded-icon="arrow-d" style="margin:0; width:250px;">
                <div data-role="collapsible" data-inset="true">
                            <h2>Farm animals</h2>
                    <ul data-role="listview">
                        <!--<li><a onclick="javascript:showLoader();return false;" href="#" data-rel="dialog">显示loading动画</a></li>-->
                        <li><a href="javascript:showLoader();" data-rel="dialog">显示loading动画</a></li>
                        <li><a href="javascript:hideLoader();" data-rel="dialog">隐藏loading动画</a></li>
                    </ul>
                </div>
                <div data-role="collapsible" data-inset="true">
                            <h2>Pets</h2>
                    <ul data-role="listview">
                        <li><a href="#" data-rel="dialog">Cat</a></li>
                        <li><a href="#" data-rel="dialog">Dog</a></li>
                        <li><a href="#" data-rel="dialog">Iguana</a></li>
                        <li><a href="#" data-rel="dialog">Mouse</a></li>
                    </ul>
                </div>
                <div data-role="collapsible" data-inset="true"> <h2>Ocean Creatures</h2>
                    <ul data-role="listview">
                        <li><a href="#" data-rel="dialog">Fish</a></li>
                        <li><a href="#" data-rel="dialog">Octopus</a></li>
                        <li><a href="#" data-rel="dialog">Shark</a></li>
                        <li><a href="#" data-rel="dialog">Starfish</a></li>
                    </ul>
                </div>
                <div data-role="collapsible" data-inset="true">
                            <h2>Wild Animals</h2>
                    <ul data-role="listview">
                        <li><a href="#" data-rel="dialog">Lion</a></li>
                        <li><a href="#" data-rel="dialog">Monkey</a></li>
                        <li><a href="#" data-rel="dialog">Tiger</a></li>
                        <li><a href="#" data-rel="dialog">Zebra</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /popup -->
        <!-- -->
        <a href="#popupMenu" data-rel="popup" data-transition="slideup"
           class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-gear ui-btn-icon-left ui-btn-a">Actions...</a>

        <div data-role="popup" id="popupMenu" data-theme="b">
            <ul data-role="listview" data-inset="true" style="min-width:210px;">
                <li data-role="list-divider">Choose an action</li>
                <li><a href="#">View details</a></li>
                <li><a href="#">Edit</a></li>
                <li><a href="#">Disable</a></li>
                <li><a href="#">Delete</a></li>
            </ul>
        </div>

        <button class="show-page-loading-msg" id="showBtn">
            显示Loading
        </button>
        <button class="hide-page-loading-msg" id="hideBtn">
            隐藏Loading
        </button>
        <a href="#popupBasic" data-rel="popup" class="ui-btn ui-corner-all ui-shadow ui-btn-inline"
           data-transition="pop">Basic Popup</a>

        <div data-role="popup" id="popupBasic">
            <p>请输入身份证号</p>
        </div>

        <p>A paragraph with a tooltip. <a href="#popupInfo" data-rel="popup" data-transition="pop"
                                          class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext "
                                          title="Learn more">Learn more</a></p>

        <div data-role="popup" id="popupInfo" class="ui-content" data-theme="a" style="max-width:350px;">
            <a href="#" data-rel="back"
               class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
              
            <p style="color: darkgreen">Here is a <strong><h4>tiny popup</h4></strong> being used like a tooltip. The
                text will wrap to multiple lines as needed.
            </p>
        </div>
        <!--lightBox -->

        <a href="#popupParis" data-rel="popup" data-position-to="window" data-transition="fade"><img class="popphoto"
                                                                                                     src="../_assets/img/paris.jpg"
                                                                                                     alt="Paris, France"
                                                                                                     style="width:30%"></a>
        <a href="#popupSydney" data-rel="popup" data-position-to="window" data-transition="fade"><img class="popphoto"
                                                                                                      src="../_assets/img/sydney.jpg"
                                                                                                      alt="Sydney, Australia"
                                                                                                      style="width:30%"></a>
        <a href="#popupNYC" data-rel="popup" data-position-to="window" data-transition="fade"><img class="popphoto"
                                                                                                   src="../_assets/img/newyork.jpg"
                                                                                                   alt="New York, USA"
                                                                                                   style="width:30%"></a>

        <div data-role="popup" id="popupParis" data-overlay-theme="b" data-theme="b" data-corners="false">
                <a href="#" data-rel="back"
                   class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img
                class="popphoto" src="../_assets/img/paris.jpg" style="max-height:512px;" alt="Paris, France">
        </div>
        <div data-role="popup" id="popupSydney" data-overlay-theme="b" data-theme="b" data-corners="false">
                <a href="#" data-rel="back"
                   class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img
                class="popphoto" src="../_assets/img/sydney.jpg" style="max-height:512px;" alt="Sydney, Australia">
        </div>
        <div data-role="popup" id="popupNYC" data-overlay-theme="b" data-theme="b" data-corners="false">
                <a href="#" data-rel="back"
                   class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img
                class="popphoto" src="../_assets/img/newyork.jpg" style="max-height:512px;" alt="New York, USA">
        </div>
    </div>
    <footer data-role="footer"><h5>@ 棕桐树科技有限公司</h5></footer>
</div>
</body>
</html>